<%- include('../../partialsHeaderView'); %>

<script>

	function dateConvertLocal(date) {

		date = new Date(date);

		let datePart = date.getFullYear() + '-' + ('00' + (date.getMonth() + 1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2);
		let timePart = ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2);

		let hourTemp = parseInt(timePart.split(':')[0]) % 12;

		if (hourTemp < 10) {

			hourTemp = '0' + hourTemp;
		}

		let timePartAmPm = (hourTemp == 0 ? '12' : hourTemp) + ':' + timePart.split(':')[1] + ' ' + (parseInt(parseInt(timePart.split(':')[0]) / 12) < 1 ? 'AM' : 'PM');

		let dateFull = datePart + ' ' + timePartAmPm;

		return dateFull;
	}


	function getDeals(filters) {

		$('#spinner-overlay').fadeIn(100);

		if (filters == undefined || filters == null || filters == '') {

			filters = {};
		}

		$.ajax({
					type: 'GET',
					url: '/api/deals/completed',
					data: filters,
					dataType: 'json',
					success: function({ data }) {

						$('#spinner-overlay').fadeOut(100);

						let deals = data;

						populateDeals(deals);
					},
					error: function(data) {

						// Some error in ajax call
						$('#spinner-overlay').fadeOut(100);

						alertBox('Error: ' + JSON.stringify(data));
					}
		});
	}


	function populateDeals(deals) {

		let totalProfit = 0;
		let profitTotalColor = '#1a9f00';

		let contentArr = [];

		for (let i = 0; i < deals.length; i++) {

			let profitPercColor = '#1a9f00';

			let deal = deals[i];
			let profit = deal['profit'];
			let profitPerc = deal['profit_percent'];
			let dateEnd = new Date(deal['date_end']).getTime();
		
			let duration = timeDiff(new Date(deal['date_start']), new Date(deal['date_end']));

			if (profitPerc <= 0) {

				profitPercColor = '#d82715';
			}

			contentArr.push('<tr>');
			contentArr.push('<td id="date' + i + '" data-date="' + dateEnd + '">' + dateConvertLocal(dateEnd) + '</td>');
			contentArr.push('<td>' + deal['bot_name'] + '</td>');
			contentArr.push('<td>' + deal['deal_id'] + '</td>');
			contentArr.push('<td>' + deal['pair'] + '</td>');
			contentArr.push('<td>' + duration + '</td>');
			contentArr.push('<td style="color: ' + profitPercColor + '">$' + profit + '</td>');
			contentArr.push('<td style="color: ' + profitPercColor + '">' + profitPerc + '%</td>');
			contentArr.push('<td>' + deal['safety_orders'] + '</td>');
			contentArr.push('</tr>');

			totalProfit += profit;
		}

		if (totalProfit <= 0) {

			profitTotalColor = '#d82715';
		}

		$('#botsDeals tbody').empty();
		$('#botsDeals tbody').append(contentArr.join(''));

		$('#totalProfit').css('color', profitTotalColor);
		$('#totalProfit').html('$' + totalProfit.toFixed(2));
		
		$('#botsDeals').tablesorter().trigger('update');

		resizeBotsDeals();
	}


	$(document).ready(function () {

		$(window).resize(function() {

			resizeBotsDeals();
		});


		$(document).on('click', '#submit', function() {

			getDeals({ 'from': $('#fromDate').val(), 'to': $('#toDate').val() });
		});


		$('#fromDate, #toDate').datepicker({

			dateFormat: 'yy-mm-dd',
			maxDate: '+3m',
			changeMonth: true,
			changeYear: true,
			showWeek: false,
			yearSuffix: '',
			showAnim: 'slide',
			onSelect: function (selectedDate, input) {
						
						if (input.id === 'fromDate') {

							$('#toDate').datepicker('option', 'minDate', selectedDate);
						}
						else {

							$('#fromDate').datepicker('option', 'maxDate', selectedDate);
						}
			}
		});


		$('#botsDeals').tablesorter({

			widgets: [ 'saveSort', 'stickyHeaders', 'uitheme' ],
			widgetOptions: {
				saveSort: true,
				stickyHeaders_attachTo: '',
				columnSelector_mediaqueryHidden: true
			},
			durationLength : 4,
			durationLabels : '(?:years|year|y),(?:days|day|d),(?:hours|hour|h),(?:minutes|minute|min|m),(?:seconds|second|sec|s)',
			textExtraction: {

				6: function(node) {

					if (node.innerHTML.indexOf('%') != -1) {

						let val = stripHtml(node.innerHTML);
						return val.replace('%','');
					}

					return node.innerHTML;
				}
			},
			headers: {

				// Set "sorter : false" (no quotes) to disable the column
				4: {
					sorter: "duration"
				},
				5: {
					sorter: "currency"
				}
			}
		});

		// Populate date from query string
		let fromDate = new URL(window.location.href).searchParams.get('from');

		fromDate = fromDate || '';

		$('#fromDate').val(fromDate);

		getDeals();
	});

</script>


<center>
<main>

	<div id="contentBox">

		<div style="position: relative;">

			<div class="contentHeaderBox">

				<b class="contentHeader">DCA Bot Deals History</b>

				<p style="font-size: 1.2rem; margin-top: 10px; margin-bottom: 0;">Total P/L: 
					<span id="totalProfit"></span>
					
					<p>From: <input id="fromDate" class="form-field" style="width: 100px;"> &nbsp; To: <input id="toDate" class="form-field" style="width: 100px;"> <button id="submit" class="btnAll">Search</button></p>
				</p>

			</div>

			<div class="botsDealsBox">

				<table id="botsDeals" border=0 cellspacing=0 cellpadding=0>

					<thead style="position: sticky; top: 0; z-index: 1000;">
						<tr style="font-weight: bold; text-align: left; white-space: nowrap;">
							<th>Date</th> <th>Bot Name</th> <th>Deal ID</th> <th>Pair</th> <th>Duration</th> <th>Profit</th> <th>Profit %</th> <th>Safety Orders</th>
						</tr>
					</thead>
					
					<tbody></tbody>
			</table>
		</div>
	</div>
</div>

</main>
</center>

<%- include('../../partialsFooterView'); %>
