<%- include('../../partialsHeaderView'); %>

<script>

	function getDeals(filters) {

		$('#spinner-overlay').fadeIn(100);

		if (filters == undefined || filters == null || filters == '') {

			filters = {};
		}

		$.ajax({
					type: 'GET',
					url: '/api/deals/completed',
					data: filters,
					dataType: 'json',
					success: function({ data }) {

						$('#spinner-overlay').fadeOut(100);

						let deals = data;

						populateDeals(deals);
					},
					error: function(data) {

						// Some error in ajax call
						$('#spinner-overlay').fadeOut(100);

						alertBox('Error: ' + JSON.stringify(data));
					}
		});
	}

	function getDealInfo(dealId) {

		let modalId = 'historyDealsView';

		$('#spinner-overlay').fadeIn(100);

		$.ajax({
					type: 'GET',
					url: '/api/deals/' + dealId + '/show',
					data: {},
					dataType: 'json',
					success: function({ data }) {

						$('#spinner-overlay').fadeOut(100);

						showOrderHistory(modalId, dealId, data['info']['active'], data['orders']);
					},
					error: function(data) {

						// Some error in ajax call
						$('#spinner-overlay').fadeOut(100);

						alertBox('Error: ' + JSON.stringify(data));
					}
		});
	}


	function getBots() {

		$.ajax({
					type: 'GET',
					url: '/api/bots',
					success: function({ data }) {

						botList(data);
					},
					error: function(data) {

						// Some error in ajax call

						alertBox('Error: ' + JSON.stringify(data));
					}
		});
	}


	function botList(bots) {

		let botArr = [];

		bots.forEach((bot) => {

			botArr.push({ 'id': bot.botId, 'name': bot.botName });
		})

		botArr = sortByKey(botArr, 'name');

		const selector = ['<select id="botValue" class="form-field" style="width: 100px; ">','<option value="Default"></option>'];

		for (let i = 0; i < botArr.length; i++) {

			let bot = botArr[i];

			let botId = bot.id;
			let botName = bot.name;

			selector.push(`<option value="${botId}">${botName}</option>`);
		}

		selector.push('</select>');

		$('#botSelect').html(selector.join(''));	
	}


	function populateDeals(deals) {

		let totalProfit = 0;
		let profitTotalColor = '#1a9f00';

		let contentArr = [];

		for (let i = 0; i < deals.length; i++) {

			let profitPercColor = '#1a9f00';

			let deal = deals[i];
			let dealId = deal['deal_id'];
			let profit = deal['profit'];
			let profitPerc = deal['profit_percent'];
			let dateEnd = new Date(deal['date_end']).getTime();

			let duration = timeDiff(new Date(deal['date_start']), new Date(deal['date_end']));

			if (profitPerc <= 0) {

				profitPercColor = '#d82715';
			}

			contentArr.push('<tr data-dealid="' + dealId + '">');
			contentArr.push('<td id="date' + i + '" data-date="' + dateEnd + '">' + dateConvertLocal(dateEnd) + '</td>');
			contentArr.push('<td>' + deal['bot_name'] + '</td>');
			contentArr.push('<td>' + deal['deal_id'] + '</td>');
			contentArr.push('<td>' + deal['pair'] + '</td>');
			contentArr.push('<td>' + duration + '</td>');
			contentArr.push('<td style="color: ' + profitPercColor + '">$' + profit + '</td>');
			contentArr.push('<td style="color: ' + profitPercColor + '">' + profitPerc + '%</td>');
			contentArr.push('<td>' + deal['safety_orders'] + '</td>');
			contentArr.push('</tr>');

			totalProfit += profit;
		}

		if (totalProfit <= 0) {

			profitTotalColor = '#d82715';
		}

		$('#botsDeals tbody').empty();
		$('#botsDeals tbody').append(contentArr.join(''));

		$('#totalProfit').css('color', profitTotalColor);
		$('#totalProfit').html('$' + totalProfit.toFixed(2));
		$('#totalDeals').html(deals.length);

		$('#botsDeals').tablesorter().trigger('update');

		resizeBotsDeals();
	}


	$(document).ready(function () {

		$(window).resize(function() {

			resizeBotsDeals();
		});


		$(document).on('click', '#submit', function() {

			getDeals({ 'from': $('#fromDate').val(), 'to': $('#toDate').val(), 'botId': $('#botValue').val() });
		});


		$(document).on('click', '#botsDeals tbody tr td', function() {

			let col = $(this).index();
			let row = $(this).closest('tr');
			let content = $(this).text();

			let dealId = row.data('dealid');

			getDealInfo(dealId);
		});


		$('#fromDate, #toDate').datepicker({

			dateFormat: 'yy-mm-dd',
			maxDate: '+3m',
			changeMonth: true,
			changeYear: true,
			showWeek: false,
			yearSuffix: '',
			showAnim: 'slide',
			onSelect: function (selectedDate, input) {
						
						if (input.id === 'fromDate') {

							$('#toDate').datepicker('option', 'minDate', selectedDate);
						}
						else {

							$('#fromDate').datepicker('option', 'maxDate', selectedDate);
						}
			}
		});


		$('#botsDeals').tablesorter({

			widgets: [ 'saveSort', 'stickyHeaders', 'uitheme' ],
			widgetOptions: {
				saveSort: true,
				stickyHeaders_attachTo: '',
				columnSelector_mediaqueryHidden: true
			},
			durationLength : 4,
			durationLabels : '(?:years|year|y),(?:days|day|d),(?:hours|hour|h),(?:minutes|minute|min|m),(?:seconds|second|sec|s)',
			textExtraction: {

				6: function(node) {

					if (node.innerHTML.indexOf('%') != -1) {

						let val = stripHtml(node.innerHTML);
						return val.replace('%','');
					}

					return node.innerHTML;
				}
			},
			headers: {

				// Set "sorter : false" (no quotes) to disable the column
				4: {
					sorter: "duration"
				},
				5: {
					sorter: "currency"
				}
			}
		});

		// Populate date from query string
		let fromDate = new URL(window.location.href).searchParams.get('from');

		fromDate = fromDate || '';

		$('#fromDate').val(fromDate);

		getBots();
		getDeals();
	});

</script>


<center>
<main>

	<div id="contentBox">

		<div style="position: relative;">

			<div class="contentHeaderBox">

				<b class="contentHeader">DCA Bot Deals History</b>

				<span style="display: flex; justify-content: center; font-size: 1.2rem; gap: 20px; margin-top: 10px; margin-bottom: 0;">
					<p style="margin-top: 0; margin-bottom: 0;">Total P/L: <span id="totalProfit"></span></p>
					<p style="margin-top: 0; margin-bottom: 0;">Deals: <span id="totalDeals"></span></p>
				</span>

				<div style="margin-top: 10px; margin-bottom: 0;">From: <input id="fromDate" class="form-field" style="width: 100px;"> &nbsp; To: <input id="toDate" class="form-field" style="width: 100px;"> &nbsp; Bot: <div id="botSelect" style="display: inline-block"></div> <button id="submit" class="btnAll">Search</button></div>

			</div>

			<div class="botsDealsBox">

				<table id="botsDeals" border=0 cellspacing=0 cellpadding=0>

					<thead style="position: sticky; top: 0; z-index: 1000;">
						<tr class="tableHeader">
							<th>Date</th> <th>Bot Name</th> <th>Deal ID</th> <th>Pair</th> <th>Duration</th> <th>Profit</th> <th>Profit %</th> <th>Safety Orders</th>
						</tr>
					</thead>
					
					<tbody></tbody>
			</table>
		</div>
	</div>
</div>

</main>
</center>

<%- include('../../partialsFooterView'); %>
