<%- include('./partialsHeaderView'); %>

<main>


	<div id="contentBox" style="text-align: center; max-width: 400px; margin-top: 40px;">

	<div style="display: inline-block; text-align: left; font-size: 1.3rem; width: 70%;">

		<div class="mainMenuItem">
			<a href="/bots/create">Create DCA Bot</a>
		</div>

		<div class="mainMenuItem">
			<a href="/bots">Manage DCA Bots</a>
		</div>

		<div class="mainMenuItem">
			<a href="/deals/active">Active DCA Bot Deals</a>
		</div>

		<div class="mainMenuItem">
			<a href="/dashboard">Dashboard</a>
		</div>

		<div class="mainMenuItem">
			<a href="/deals/history">DCA Bot Deals History</a>
		</div>

		<div class="mainMenuItem">
			<a href="https://www.symrank.com" target=_blank>SymRank Crypto Screener</a>
		</div>

		<div class="mainMenuItem">
			<a href="/config">Configuration</a>
		</div>

		<div class="mainMenuItem">
			<a href="/system">System Tools</a>
		</div>

		<div class="mainMenuItem">
			<a href="/logs">Logs</a>
		</div>

		<div class="mainMenuItem" style="border-bottom: 0;">
			<a href="/logout">Log Out</a>
		</div>

	</div>

	</div>

</main>


<%- include('./partialsFooterView'); %>
