<%- include('./partialsHeaderView'); %>

<main>

	<div id="contentBox">

		<a href="/bots/create">Create New DCA Bot</a>
	
		<br><br>

		<a href="/deals/active">Active DCA Bot Deals</a>

		<br><br>

		<a href="/deals/history">DCA Bot Deals History</a>

		<br><br>

		<a href="https://www.symrank.com" target=_blank>SymRank Crypto Screener</a>

	</div>


</main>


<%- include('./partialsFooterView'); %>
