<%- include('./partialsHeaderView'); %>

<main>


	<div id="contentBox" style="text-align: center;">

	<div style="display: inline-block; text-align: left; font-size: 1.3rem;">

		<a href="/bots/create">Create DCA Bot</a>
	
		<br><br>

		<a href="/bots">All DCA Bots</a>
	
		<br><br>

		<a href="/deals/active">Active DCA Bot Deals</a>

		<br><br>

		<a href="/deals/history">DCA Bot Deals History</a>

		<br><br>

		<a href="https://www.symrank.com" target=_blank>SymRank Crypto Screener</a>

		<br><br>

		<a href="/logout">Log Out</a>

	</div>

	</div>

</main>


<%- include('./partialsFooterView'); %>
