<%- include('./partialsHeaderView'); %>

<main>

	<span style="font-size: 1.3rem;">

		<b><a href="/deals/new">Create DCA Bot Deal</a></b>
	
		<br><br>

		<b><a href="/deals/active">Show Active Deals</a></b>

		<br><br>

		<b><a href="https://www.symrank.com" target=_blank>SymRank Crypto Screener</a></b>

	</span>


</main>


<%- include('./partialsFooterView'); %>
