<%- include('./partialsHeaderView'); %>

<main>

	<b><a href="/deals/new">Create New Deal</a></b>
	
	<br><br>

	<b><a href="/deals/active">Show Active Deals</a></b>

</main>


<%- include('./partialsFooterView'); %>
