<div class="botDealSelectorWrapper">
	<div id="botDealSelector" class="botDealSelector">
	  <!-- column selector populated by tablesorter -->
	</div>
	<div class="botDealSelectorHidden">
		<div id="popover-botdeals"></div>
	</div>
</div>
