
<div id="footerBox">
	<span style="float: left; margin-left: 5px; font-size: 0.95rem; color: #b2b2b2;">
		<a href="https://www.3cqs.com" style="color: #b2b2b2;" target=_blank><%- appData.name %> v<%- appData.version %> - 3CQS.com</a>
	</span>
</div>

</body>
</html>
