
<div id="footerBox">
	<span>
		<a style="color: #b2b2b2;" href="https://www.3cqs.com" target=_blank><%- appData.name %> v<%- appData.version %> - 3CQS.com</a>
	</span>
	<% if (appData.update_available) { %>
		<span>
			<a style="color: #b2b2b2;" href="https://github.com/3cqs-coder/SymBot" target="_blank">Update Available</a>
		</span>
	<% } %>
</div>

</body>
</html>
