<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%- appData.name %> <%- appData.version %></title>

	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/vendor/jquery-ui/jquery-ui.min.css" />
	<link rel="stylesheet" href="/css/vendor/jquery-confirm/jquery-confirm-3.3.2.min.css" />
	<link rel="stylesheet" href="/css/vendor/select2/select2.min.css" />
	<link rel="stylesheet" href="/css/vendor/simple-switch/simple-switch.css" />
	<link rel="stylesheet" href="/css/vendor/tablesorter/filter.formatter.min.css" />

	<link href="https://fonts.googleapis.com/css?family=Heebo:400,600,300" rel="stylesheet" type="text/css">

	<script src="/js/vendor/jquery/jquery-3.6.3.min.js"></script>
	<script src="/js/vendor/jquery-ui/jquery-ui.min.js"></script>
	<script src="/js/vendor/jquery-confirm/jquery-confirm-3.3.2.min.js"></script>
	<script src="/js/vendor/select2/select2.full.min.js"></script>
	<script src="/js/vendor/simple-switch/jquery.simpleswitch.min.js"></script>

	<script src="/js/vendor/tablesorter/jquery.tablesorter.combined.min.js"></script>
	<script src="/js/vendor/tablesorter/parsers/parser-duration.min.js"></script>
	<script src="/js/vendor/tablesorter/parsers/parser-named-numbers.min.js"></script>
	<script src="/js/vendor/tablesorter/widgets/widget-columnSelector.min.js"></script>
	<script src="/js/vendor/tablesorter/widgets/widget-filter-formatter-jui.min.js"></script>

	<script>

	$(document).ready(function() {
	
		$('#headerBox').on('click', function() {

			window.location.href = '/';
		});
	});


	function resizeBotsDeals(px) {

		let offSetBottom = -200;

		let p = $('.botsDealsBox').first();
		let positionTop = p.position().top;

		let contentHeaderHeight = $('.contentHeaderBox').height();

		contentHeaderHeight = contentHeaderHeight || 0;

		let pixels = offSetBottom - contentHeaderHeight;

		if (px != undefined && px != null) {

			pixels = px;
		}

		$('.botsDealsBox').height(($(window).height() + pixels));
	}


	function stripHtml(str) {

		str = str.toString();

		str = str.replace(/(<([^>]+)>)/gi, '');

		return str;
	}


	function alertBox(msg, func) {

		$.alert({
					title: false,
					boxWidth: '50%',
					useBootstrap: false,
					content: '<div style="font-size: 1.2rem; text-align: left;">' + msg + '</div>',
					buttons: {
								ok: {
										btnClass: 'btn-default',
										text: 'Ok',
										action: function() {

											if (func != undefined && func != null) {

												func();
											}
										}
									}
							 }
		});
	}

	</script>

</head>

<body>

<div id="headerBox"> 

	<div style="position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);">
		<img src="/images/SymBot-Logo.png" style="width: auto; height: 55px; vertical-align: middle;" />
	</div>

</div>

<div id="spinner-overlay">
	<div class="spinner-container"><span class="spinner"></span></div>
</div>
