
<div id="footerBox">

	<span style="float: left; margin-left: 10px; font-size: 0.95rem; color: #b2b2b2;">
		<a href="https://www.3cqs.com" style="color: #b2b2b2;" target=_blank>3CQS.com</a>
	</span>

	<span style="float: right; margin-right: 10px; font-size: 0.95rem; color: #b2b2b2;">
		v<%- appData.version %>
	</span>

</div>

</body>
</html>
