<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%- appData.name %> <%- appData.version %></title>

	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/vendor/jquery-confirm-3.3.2.min.css" />
	<link rel="stylesheet" href="/css/vendor/select2/select2.min.css" />
	<link rel="stylesheet" href="/css/vendor/simple-switch/simple-switch.css" />

	<link href="https://fonts.googleapis.com/css?family=Heebo:400,600,300" rel="stylesheet" type="text/css">

	<script src="/js/vendor/jquery-3.6.3.min.js"></script>
	<script src="/js/vendor/jquery-confirm-3.3.2.min.js"></script>
	<script src="/js/vendor/select2/select2.full.min.js"></script>
	<script src="/js/vendor/simple-switch/jquery.simpleswitch.min.js"></script>

	<script>

	$(document).ready(function() {
	
		$('#headerBox').on('click', function() {

			window.location.href = '/';
		});
	});

	function alertBox(msg) {

		$.alert({
					title: false,
					boxWidth: '50%',
					useBootstrap: false,
					content: '<div style="font-size: 1.2rem; text-align: left;">' + msg + '</div>'
		});
	}

	</script>

</head>

<body>

<div id="headerBox"> 

	<div style="position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); font-size: 1.2rem;">
		<span class="headerName"><%- appData.name %></span> <span class="headerVersion"><%- appData.version %></span>
	</div>

</div>

<div id="spinner-overlay">
	<div class="spinner-container"><span class="spinner"></span></div>
</div>
